{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:security/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
  },
  "globals": {
    "i4t": true,
    "pdfjsLib": true,
    "module": true
  }
}