.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
public
dist-ssr
node_modules
.idea/
*.log
cypress/plugins/index.js  
cypress/support/index.js
cache/*
cypress/screenshots/*
cypress/videos
coverage
unitTestReports
lint